<h1>Editing Profile for <%= @user.username.capitalize %></h1>

<%= form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :about_me %><br>
  <%= f.text_area :about_me %>
</div>

<div class="field">
  <%= f.label :gender %><br>
  <%= f.text_area :gender %>
</div>

<div class="actions">
  <%= f.submit "Edit Basic Info" %>
</div>

<% link_to "Add a skill you want to know", new_user_want_skill_path(@user) %>
<% link_to "Add a skill you know",  new_user_have_skill_path(@user)%>
<% end %>
