<div class="light">
  <div class="center">

    <row>
      <div class="title">
        <h3>Profile for:</h3>
        <h1><%= @user.username %>

      </div>
    </row>
    <row>
      <div class="small-6 medium-6 large-6 columns">
        <h2>Basic Info</h2>
        <ul>
          <h5>City:</h5>
          <p><%= @user.address %></p>
        </ul>
          <ul>
          <h5>About me:</h5>
          <p><%= @user.about_me %></p>
        </ul>
        <ul>
          <h5>Gender:</h5>
          <p><%= @user.gender %></p>
        </ul>

        </ul>
      </div>

        <div class="small-12 medium-6 large-6 columns wanted_skill">
          <h3>Skills <%= @user.username %> wants to know
          <% if current_user == @user %>
              <%= link_to "Add Skill", new_user_wanted_skill_path(@user), class: "tiny button" %>
          <% end %>
          </h3>
          <ul>
            <% @user.wanted_skills.each do |s| %>
              <h4>
                <%= link_to s.skill.name, skill_path(s.skill) %>
                <% if current_user == @user %>
                  <%= link_to "Delete Skill", user_wanted_skill_path(@user, s), class: "tiny button", :method => :delete %>
                <% end %>
              </h4>
            <% end %>
          </ul>
        </div>
        <div class="small-12 medium-12 large-12 columns had_skill">
          <h3>Skills <%= @user.username %> knows</h3>
          <% if current_user == @user %>
              <%= link_to "Add Skill", new_user_had_skill_path(@user), class: "tiny button" %>
          <% end %>
          <ul>
            <p><% @user.had_skills.each do |s| %></p>
              <h4><%= link_to s.skill.name, skill_path(s.skill) %>
              <% if current_user == @user %>
                  <%= link_to "Delete Skill", user_had_skill_path(@user, s), class: "tiny button", :method => :delete %>
              <% end %>
              </h4>
            <% end %>
          </ul>
        </div>

    </row>
  </div>
</div>
