<row>
    <h1>Profile for: <%= @user.username %></h1>
</row>
<row>
  <div class="small-12 medium-6 large-4 columns">
    <h5>Basic Info</h5>
      <ul>
        <h5>About me:</h5>
        <p><%= @user.about_me %></p>
      </ul>
      <ul>
        <h5>Gender:</h5>
        <p><%= @user.gender %></p>
      </ul>

    </ul>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Skills <%= @user.username %> wants to know</h3>
    <ul>
      <h5></h5>
      <p><% @user.wanted_skills.each do |s| %></p>
      <%= s.skill.name %><div>
        <% if current_user = @user %>
          <%= link_to 'Delete', user_wanted_skill_path(s), method: :delete %></div>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="small-12 medium-6 large-4 columns">
    <h3>Skills <%= @user.username %> knows</h3>
    <ul>
      <h5></h5>
      <p><% @user.had_skills.each do |s| %></p>
        <%= s.skill.name %>
      <% end %>
    </ul>
  </div>

</row>
