<%= simple_form_for([@user, @wanted_skill]) do |f| %>
<row>
    <div class="large-6 columns"></div>
    <%= f.input :skill_name %>
    <%= f.input :current_level, collection: get_skill_levels %>
    <%= f.input :teachers_skill, collection: get_skill_levels %>
    <%= f.input :why_description, as: :text, label: "Why do you want to learn this skill?
    Do you Have any experience with this skill?" %>
    <%= f.button :submit,  "Create Skill" %>
  </div>
</row>
<% end %>
