<!DOCTYPE html>
<html>
<head>
  <title>SkillSwap</title>
  <link href='//fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href=’http://fonts.googleapis.com/css?family=Merriweather&#8217;
  rel=’stylesheet’ type=’text/css’>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>

</head>
<body>
  <nav class="top-bar white">
    <ul>
      <li><%= link_to 'All The Skills', skills_path %></li>
    </ul>
  </nav>

  <nav class="top-bar grey">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">SkillSwap</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Edit User Profile', edit_user_path(current_user.id) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <p><%= value %></p>
    </div>
  <%- end -%>

  <div id="container">

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_tag do %>
      $(function(){
        $(document).foundation();
      });
    <% end %>
  </div>
<!--   <audio id="chatAudio"><source src="/sounds/notification.mp3" type="audio/mpeg"></audio>
 -->
</body>
</html>
